<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>D&D records</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 sticky-top">
        {% if current_user.is_authenticated %}
        <a class="navbar-brand" href="{{ url_for('main_menu') }}">D&D -pöytäkirja</a>
        {% else %}
        <a class="navbar-brand" href="#">D&D -pöytäkirja</a>
        {% endif %}
        <div class="collapse navbar-collapse" id="navbarCollapse">
            {% if current_user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        {{ current_user.username }} -- tiedot
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="{{url_for('edit_userinfo_form')}}">Muuta käyttäjän
                            tietoja</a>
                        <a class="dropdown-item" href="{{ url_for('list_users_characters') }}">Listaa käyttäjän
                            hahmot</a>
                        <a class="dropdown-item"
                            href="{{ url_for('list_users_adventures', id=current_user.id) }}">Listaa käyttäjän
                            seikkailut</a>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="adventureDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Seikkailu
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="adventureDropdown">
                        <a class="dropdown-item" href="{{ url_for('new_adventure_form') }}">Aloita uusi
                            seikkailu</a>
                    </ul>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="characterDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Hahmo
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="characterDropdown">
                        <a class="dropdown-item" href="{{ url_for('list_all_characters') }}"">Listaa kaikki hahmot</a>
                    </ul>
                </li>
            </ul>
            <ul class=" navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Esineet
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="userDropdown">
                                    <a class="dropdown-item" href="{{url_for('new_item_form')}}">Lisää uusi esine</a>
                                    <a class="dropdown-item" href="{{url_for('list_all_items')}}">Listaa kaikki
                                        esineet</a>
                                </ul>
                            </li>
                    </ul>
            </ul>
            <ul class=" navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="logoutDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Kirjaudu ulos
                    </a>
                    <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="logoutDropdown">
                        <a class="dropdown-item" href="{{ url_for('logout') }}">Kirjaudu ulos
                            sovelluksesta</a>
                    </ul>
                </li>
            </ul>
            {% else %}
            <a href="{{ url_for('login') }}">Login</a>
            {% endif %}
        </div>
    </nav>
    {% block body %}
    <p>
        Content.
    </p>
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>