{% extends "layout.html" %}

{% block body %}

{% if message %}
{{ message }}
{% endif %}

{% if error %}
<p class=error /><strong>{{ error }}</strong>
{% endif %}

<h3>Kaikki käyttäjien Seikkailut</h3>
<table class="table table-striped">
    <thead class="thead-dark">
        <th>
            Seikkailun nimi
        </th>
        <th>
            Seikkailu luotu
        </th>
        <th>
            Dungeon Master
        </th>
        <th>
            Seikkailun tila
        </th>
    </thead>
    {% for adventure in all_adventures %}
    <tr>
        <td>{{adventure.adventure_name}}</td>
        <td>{{adventure.created}}</td>
        <td>{{adventure.dungeon_master}}</td>
        {% if adventure.ongoing == 1 %}
        <td>
            <a href="{{ url_for('join_adventure_form', adventure_id=adventure.id) }}">Käynnissä -- Liity seikkailuun</a>
        </td>
        {% else %}
        <td>
            Seikkailu päättynyt
        </td>
        {% endif %}
    </tr>
    {%endfor%}
</table>
{% endblock %}