{% extends "layout.html" %}

{% block body %}

{% if message %}
{{ message }}
{% endif %}

{% if error %}
<p class=error><strong>{{ error }}</strong>
    {% endif %}

    <h1>Tervetuloa D&D -pöytäkirjasovellukseen!</h1>
    <h3>logged in as {{user.username}}</h3>

    {% if current_user.is_authenticated %}
    <p>
        Kirjautunut nimellä {{ current_user.username }}
    </p>
    {% else %}
    <a href="{{ url_for('login') }}">Kirjaudu</a>
    {% endif %}

    <a href="{{url_for('edit_userinfo_form', user_id=user.id)}}">Muuta käyttäjän tietoja</a>
    <br>
    <a href="{{ url_for('logout') }}">Kirjaudu ulos</a>

    {% endblock %}