{% extends "layout.html" %}

{% block body %}

{% if message %}
{{ message }}
{% endif %}

{% if error %}
<p class=error /><strong>{{ error }}</strong>
{% endif %}
<h2>Käyttäjän {{ current_user.username }} käynnissä olevat seikkailut</h2>

{% for adventure in ongoing_adventures %}
<div class="row">
    <div class="col-sm-4">{{adventure.adventure_name}}</div>
    <div class="col-sm-4">{{adventure.created}}</div>
    <div>
        <form method="POST" action="{{ url_for('delete_adventure', adventure_id=adventure.id) }}">
            <input type="submit" value="poista seikkailu">
        </form>
    </div>
</div>
{% endfor %}

<h2>Käyttäjän {{ current_user.username }} päättyneet seikkailut</h2>
{% for adventure in finished_adventures %}
<div class="row">
    <div class="col-sm-4">{{adventure.adventure_name}}</div>
    <div class="col-sm-4">{{adventure.created}}</div>
</div>
{% endfor %}

{% endblock %}