{% extends "layout.html" %}

{% block body %}

{% if message %}
{{ message }}
{% endif %}

{% if error %}
<p class=error /><strong>{{ error }}</strong>
{% endif %}

<h2>Henkilön {{ current_user.username }} hahmot</h2>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                Nimi
            </th>
            <th>
                Luokka
            </th>
            <th>
                Rotu
            </th>
            <th>
                Voima
            </th>
            <th>
                Hienomotoriikka
            </th>
            <th>
                Äly
            </th>
            <th>
                Usko
            </th>
            <th>
                Elinvoima
            </th>
            <th>
                Mana
            </th>
            <th>
                Seikkailu
            </th>
            <th>
                #Poista
            </th>
        </tr>
    </thead>
    <tbody>
        {% for character in characters %}
        <tr>
            <td>
                {{character.character_name}}
            </td>
            <td>
                {{character.character_class}}
            </td>
            <td>
                {{character.character_race}}
            </td>
            <td>
                {{character.character_strength}}
            </td>
            <td>
                {{character.character_dexterity}}
            </td>
            <td>
                {{character.character_inteligence}}
            </td>
            <td>
                {{character.character_faith}}
            </td>
            <td>
                {{character.character_health}}
            </td>
            <td>
                {{character.character_mana}}
            </td>
            <td>
                {{character.adventure_name}}
            </td>
            <td>
                <form method="POST" action="{{ url_for('delete_character', character_id=character.id) }}">
                    <input type="submit" value="poista hahmo">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}